@import url('https://fonts.googleapis.com/css?family=Comfortaa');
nav.navbar.navbar-inverse {
    padding-right: 15px;
    font-size: 1.2em;
    font-family: 'Comfortaa', sans-serif;
    background-color: #1e3267;
}

.navbar-inverse{
    border-radius:initial; 
}

.navbar a {
    color: white;
    min-height: 50px;
}

.navbar a:hover {
    background: rgba(0, 0, 0, 0.05);
}

.non-active{
   font-size: 12px;
   pointer-events: none;
   cursor: default;
}