<div class="container-fluid">
  <h3>Assessments</h3><br> 
  <div id="tableContainer">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Assessment-Name</th>
          <th>Total Questions</th>
          <th>Duration</th>
          <th>Passing Percentage</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of data;let i= index">
          <td>{{data.test_name}}</td>
          <td>{{data.total_questions}}</td>
          <td>{{data.test_duration}} mins</td>
          <td>{{data.passing_marks}}%</td>
          <td class="link" *ngIf="data.test_status == null" (click)="statusClick(data)">Attend</td>
          <td class="link" *ngIf="data.test_status == 'completed'" (click)="getResult(data)" data-toggle="modal" data-target="#myModal">Completed</td>
          <td class="link" *ngIf="data.test_status == 'Pending'" (click)="statusClick(data)">Resume</td>
        </tr>
      </tbody>
    </table>
  </div>
</div><br>

<!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <h4 class="modal-title">Assessment Result</h4>
      </div>
      <div class="modal-body">
        <p><span>Assessment Name:</span>&nbsp;&nbsp;{{result?.test_name | uppercase}}</p><br>
        <p><span>Your Score:</span>&nbsp;&nbsp;{{result?.final_score}}</p>
        <p><span>Passing Score:</span>&nbsp;&nbsp;{{result?.passing_marks}}</p>
        <p><span>Result:</span>&nbsp;&nbsp;{{result?.result}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>